<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="lib/angular.js"></script>
  <script src="lib/angular-messages.js"></script>
  <link rel="stylesheet" href="css/style.css">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <script>
    //Isso cria um módulo
    //O colchetes significa a importacao de novos modulos.
    angular.module("listaTelefonica",["ngMessages"]);

    //Isso encontra um módulo
    angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
       $scope.mensagem = "Lista Telefonica";

       $scope.contatos = [
         {nome: "Pedro", telefone:"99999988", cor:"blue"},
         {nome: "Ana", telefone:"99999977", cor:"yellow"},
         {nome: "Maria", telefone:"99999966", cor:"red"},
       ];

      $scope.operadoras =[
        {nome:"Oi", codigo:14, categoria:"Celular"},
        {nome:"Vivo", codigo:15,categoria:"Celular"},
        {nome:"TIM", codigo:41,categoria:"Fixo"},
        {nome:"Claro", codigo:13,categoria:"Fixo"},
      ];

      $scope.adicionarContato = function(contato){
        $scope.contatos.push(angular.copy(contato));
        delete $scope.contato;
        $scope.contatoForm.$setPristine();

      };

      $scope.apagarContatos = function(contatos){
        $scope.contatos = contatos.filter(function(contato){
           if(!contato.selecionado) return contato;
        });
      };

      $scope.isContatoSelecionado = function(contatos){
         return contatos.some(function(contato){
            return contato.selecionado;
         });
      };
    });
  </script>

  <title>Estudo Angular JS v1.7</title>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <!-- ng-bind - Substitui o elemento por uma expressao -->
      <!-- <h4 ng-bind="menssagem"></h4>  -->
      <!-- Elemento menssagem -->
      <h3>{{mensagem}}</h3> 

      <!-- ng-repeat - Itera sobre os itens de uma colecao 
      ou de um objeto -->
      <table ng-show="contatos.length > 0" class="table ">
        <tr>
          <th></th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Operadora</th>
        </tr>

        <!-- ng-class e ng-style - Aplica classes css e estilos dinamicamente -->
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
          <td><input type="checkbox" ng-model="contato.selecionado"/></td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}} </td>
          <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
        </tr>
      </table>
      <hr/>
      <form name="contatoForm">
      
      <!-- ng-model - Vincula uma propriedade ao $scope -->
       <!-- ng-minlength e ng-maxlength - Define o tamanho minimo e maximo permitido -->
        <input class="form-control" type="text" placeholder="Nome" name="nome"ng-model="contato.nome" ng-required="true" ng-minlength="10" />
        <!-- ng-pattern-Define uma regexp para validar o campo -->
        <input class="form-control" type="text" placeholder="Telefone" name="telefone"  ng-model="contato.telefone" ng-required="true" ng-pattern="/ˆ\d{4,5}-\d{4}$/" />
        
        <!-- ng-options - Rederia as opcoes de um select -->
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
          <option value="">Selecione uma operadora</option>
        </select>
    </form>

    <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
      <!-- $valid e $invalid - Consulta a validade de um campo ou fomulario -->
      <!-- $pristine e $dirty - Verificam se um formulario ou campo ja foi utilizado alguma vez.-->
      <!-- $error - Consulta os erros de um campo ou fomulario-->
      <div ng-message="required">
          <p>Por favor, preencha o campo nome!</p>
        </div>
        <div ng-message="minlength" >
            <p>O campo nome deve ter, no mínimo, 10 caracteres.</p>
        </div>
    </div>

    <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty"class="alert alert-danger">
        <p>Por favor, preencha o campo telefone!</p>
    </div>
    <div ng-show="contatoForm.telefone.$error.pattern"class="alert alert-danger">
        <p>O campo telefone deve ter o formato DDDDD-DDDD</p>
    </div>
      <!-- ng-click - Atribui um comportamento ao evento -->
      <!-- ng-disable - Desabilita um elemento dinamicamente -->
      <!-- ng-show, ng-hide, ng-if - Exibe um elemento condicional -->
      <button class="btn btn-primary btn-block " ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid"> Adicionar Contato </button>
      <button class="btn btn-danger btn-block " ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)"> Apagar Contato(s) </button>
      
     <!--ng-required - define um determinado campo como obrigatorio -->
    
    </div>
     <!-- ng-include - Inclui conteudo dinamicamente -->
     <!-- Nao funciona no Google Chrome-->
    <div ng-include="'footer.html'"></div>
</body>
</html>